<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>MaxMultiplier</key>
			<integer>13</integer>
			<key>NoOemTableId</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>DropOem</key>
			<false/>
			<key>MinMultiplier</key>
			<integer>1</integer>
			<key>PluginType</key>
			<string>1</string>
			<key>UnderVoltStep</key>
			<string>1</string>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>DSDT.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-RMCF.aml</string>
			<string>SSDT-IMEI.aml</string>
			<string>SSDT-DEH01.aml</string>
			<string>SSDT-USB.aml</string>
			<string>SSDT-BAT.aml</string>
			<string>SSDT-KBD.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-HDEF.aml</string>
			<string>SSDT-HDAU.aml</string>
			<string>SSDT-ALC3232.aml</string>
			<string>SSDT-W541-KBRD.aml</string>
			<string>SSDT-PTSWAK-EXT1-FixShutdown.aml</string>
			<string>SSDT-PTSWAK-EXT3-LedReset-TP.aml</string>
			<string>SSDT-PTSWAK-EXT4-WakeScreen.aml</string>
			<string>SSDT-PTSWAK.aml</string>
			<string>SSDT-FAN.aml</string>
		</array>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>UEVHUA==</data>
					<key>Replace</key>
					<data>R0ZYMA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change PEGP to GFX0</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>AddDTGP</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixWAK</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>AddMCHC</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>XMPDetection</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>CustomLogo</key>
		<string>Alternate</string>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 -disablegfxfirmware darkwake=0 igfxonln=1 hbfx-patch-pci=XHC,IMEI,IGPU</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>0</integer>
		<key>NoEarlyProgress</key>
		<true/>
		<key>RtcHibernateAware</key>
		<true/>
		<key>DefaultVolume</key>
		<string>macexp</string>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Debug</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>elcapitan</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<true/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Hide</key>
		<array>
			<string>BOOTX64.EFI</string>
			<string>Windows</string>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1440x810</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>28</integer>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>IntelMaxValue</key>
		<string>0x0710</string>
		<key>UseIntelHDMI</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0d220003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosVersion</key>
		<string>IM142.88Z.F000.B00.1902141634</string>
		<key>SerialNumber</key>
		<string>C02PLQTOF8JC</string>
		<key>ProductName</key>
		<string>iMac14,2</string>
		<key>Trust</key>
		<false/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>NvidiaWeb</key>
		<true/>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>